{
  "extends": ["airbnb", "airbnb/hooks", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "indent": ["error", 2],
    "semi": "error",
    "no-console": 0,
    "no-tabs": 1,
    "camelcase": "off",
    "dot-notation": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-one-expression-per-line": 0,
    "react/prefer-stateless-function": 0,
    "react/prop-types": 0
  }
}
