#change-window-button {
  // 창 전환 버튼을 위한 임시 설정
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 40vh;
  width: 50px;
  height: 50px;
  z-index: 1000;
  background-color: rgba(195, 195, 195, 0.424);
  border-radius: 25px;
  border: 0;
}
