#search {
  // background-color: rgb(228, 228, 228);
  // height: 100vh;
  // margin-bottom: 300px;
  #search-form {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 45px 1fr;
    height: 65px;
    padding: 10px;
    input {
      background-color: whitesmoke;
      font-size: 1.4rem;
      padding: 10px;
      border: 0px;
    }
    button {
      cursor: pointer;
      font-size: 1.4rem;
      background-color: whitesmoke;
      border: 0px;
      svg {
        transition-property: color;
        transition-duration: 200ms;
      }
    }
    button:hover {
      svg {
        color: black;
      }
    }
    button:active {
      svg {
        color: rgb(236, 236, 236);
      }
    }
  }

  .search-list {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.15rem;
    margin-bottom: 120px;
    overflow: visible;
    li {
      position: relative;
      overflow: visible;
      // border: solid 4px black;
      display: grid;
      gap: 10px;
      grid-auto-flow: column;
      grid-template-columns: auto 1fr 30px;
      margin-bottom: 10px;
      list-style: none;
      cursor: pointer;
      .search-image {
        img {
          display: block;
          // border-radius: 5px;
          width: 5rem;
        }
      }
      p {
        margin: 0;
      }
      button {
        cursor: pointer;
        font-size: 1.4rem;
        background-color: rgba(0, 0, 0, 0);
        border: white solid 0px;
        svg {
          transition-property: color;
          transition-duration: 200ms;
        }
      }
      button:hover {
        svg {
          color: black;
        }
      }
      button:active {
        svg {
          color: rgb(236, 236, 236);
        }
      }
      .search-drop-down-menu {
        z-index: 4;
        display: block;
        background-color: whitesmoke;
        padding: 10px;
        border-radius: 10px;
        position: absolute;
        right: 30px;
        top: 0;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.12);
      }
    }
  }
}
