// @import './common/normal-button.scss';
@import './mixins';
@import './common/player-brother-big.scss';
// @include player-brother-big;
@mixin home-ul {
  ul {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    gap: 16px;
    grid-template-columns: 25vh;
    overflow: visible;
    li {
      display: grid;
      grid-auto-flow: row;
      grid-template-rows: 25vh;
      gap: 16px;
      align-content: start;
      overflow: inherit;
      div {
        width: 25vh;
        height: 25vh;
        background-size: cover;
        background-position: center center;
        cursor: pointer;
        overflow: inherit;
        transition-property: transform;
        transition-duration: 300ms;
        transform: scale(1);
      }
      div:hover {
        transform: scale(1.05);
      }
      p {
        font-size: 1.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
      }
    }
  }
}

#list-popular,
#list-recommended {
  overflow-x: scroll !important;
  overflow-y: hidden;
}

.home {
  position: relative;
  overflow-x: hidden;
  height: 100%;
  header {
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    background-color: #2a2a2e;
  }
  section {
    padding: 1rem 0;
  }
  &_updatedAt {
    color: rgba(255, 255, 255, 0.7);
    margin-left: 0.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    > span {
      margin-left: 0.5rem;
      font-size: 0.75rem;
    }
  }
  &_list-popular,
  &_list-recommended {
    // padding-top: 3rem;
    margin-top: 0.75rem;
    display: flex;
    flex-flow: row nowrap;
    width: auto;
    height: auto;
    &_item {
      display: flex;
      flex-flow: column wrap;
      width: 9rem;
      height: auto;
      margin: 0 0.5rem;
      border-radius: 4px;
      &_thumbnail {
        // 16:9 ratio
        display: flex;
        justify-content: center;
        align-items: center;
        width: 9rem;
        height: auto;
        background-color: #000;
        border-radius: 4px 4px 0 0;
        cursor: pointer;
        > img {
          width: 100%;
          height: auto;
        }
      }
      &_title {
        margin-top: 4px;
        padding: 4px;
        > span {
          font-size: 0.75rem;
          @include text-ellipsis(1);
        }
      }
    }
  }
  &_list-rank {
    padding-right: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-flow: column nowrap;
    width: auto;
    height: auto;
    &_item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-basis: 1;
      width: 100%;
      padding: 0.25rem;
      height: 3rem;
      margin: 0.25rem 0rem;
      // border-radius: 4px;
      background-color: inherit;
      cursor: pointer;
      &_rank {
        width: 20px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        > span {
          font-size: 0.75rem;
          font-weight: bold;
        }
      }
      &_thumbnail {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 20%;
        width: 3rem;
        height: 100%;
        margin-left: 0.5rem;
        margin-right: 1rem;
        background-color: #000;
        // border-radius: 4px;
        border: 1px solid rgba($color: #000000, $alpha: 0.5);
        > img {
          width: 100%;
          height: auto;
        }
      }
      &_title {
        flex-basis: 70%;
        > span {
          font-size: 0.825rem;
          font-weight: 500;
          line-height: 20px;
          @include text-ellipsis(1);
        }
      }
    }
  }
}

// #recommends {
//   display: grid;
//   grid-template-columns: 300px 1fr;
//   gap: 16px;
//   margin-bottom: 120px;
//   header {
//     grid-column: span 2;
//     display: flex;
//     justify-content: space-between;
//     p {
//       font-size: 1.25rem;
//     }
//   }
//   .rank {
//     display: grid;
//     gap: 16px;
//     ul {
//       height: 25vh;
//       display: grid;
//       grid-auto-flow: row;
//       grid-template-columns: 1fr;
//       gap: 4px;
//       overflow: overlay;
//       li {
//         display: grid;
//         grid-auto-flow: column;
//         grid-template-columns: 22px 50px 1fr;
//         gap: 8px;
//         .rank-image {
//           width: 50px;
//           height: 50px;
//           background-size: cover;
//           background-position: center center;
//           cursor: pointer;
//         }
//         .rank-number,
//         .rank-title {
//           display: grid;
//           align-items: center;
//         }
//         .rank-number {
//           justify-self: center;
//         }
//       }
//     }
//     .rank-arrow {
//       text-align: center;
//     }
//   }
//   .recommend-musics {
//     overflow: visible;
//     @include home-ul;
//   }
// }

// .pointer {
//   cursor: pointer;
// }
