// @import './common/normal-button.scss';
#wrapper {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 100px 300px 1fr;
  gap: 200px;
  margin-bottom: 200px;
}
#kpop {
  ul {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    gap: 20px;
    grid-column: span 2;
    grid-auto-columns: 300px;
  }
  .kpop-title {
    display: grid;
    color: yellow;
  }

  .kpop-music-title {
    cursor: pointer;
  }

  .kpop-button {
    display: grid;
    justify-content: end;
    cursor: pointer;
  }

  display: grid;
  gap: 20px;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
}

.kpop-music-image {
  img {
    width: 100%;
  }
  cursor: pointer;
}

.kpop-music-image:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 30px 30px rgba(0, 0, 0, 0.22);
}
