@mixin library-ul {
  display: grid;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  li {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 20vw 1fr 30px;
    grid-auto-rows: 20vw;
    gap: 10px;
    .library-list-img {
      background-color: black;
      display: grid;
      align-content: center;
      img {
        width: 20vw;
      }
    }
    .library-list-title {
      display: grid;
      align-content: center;
      p {
        cursor: pointer;
      }
    }
    .library-list-button {
      display: grid;
      button {
        cursor: pointer;
        font-size: 1.4rem;
        background-color: rgba(0, 0, 0, 0);
        border: white solid 0px;
        svg {
          transition-property: color;
          transition-duration: 200ms;
        }
      }
      button:hover {
        svg {
          color: black;
        }
      }
      button:active {
        svg {
          color: rgb(236, 236, 236);
        }
      }
    }
  }
}

#library {
  // position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 10px;
  font-size: 1.5rem;
  padding: 10px;
  overflow: visible;

  ul {
    @include library-ul;
  }

  #library-list-items {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 1;
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
    header {
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: 1fr auto;
      gap: 10px;
      button {
        cursor: pointer;
        font-size: 1.4rem;
        background-color: rgba(0, 0, 0, 0);
        border: white solid 0px;
        svg {
          transition-property: color;
          transition-duration: 200ms;
        }
      }
      button:hover {
        svg {
          color: black;
        }
      }
      button:active {
        svg {
          color: rgb(236, 236, 236);
        }
      }
      .library-list-title {
        grid-column: span 2;
      }
    }
    ul {
      @include library-ul;
      font-size: 1.2rem;
    }
  }
}
