@import './common/normal-button.scss';
@import './common/player-brother-big.scss';

@include player-brother-big;
@mixin list-ul {
  display: grid;

  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 0;
  // overflow: visible;
  li {
    overflow: visible;
    position: relative;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto 1fr 30px;
    margin: 8px;
    gap: 10px;
    align-items: center;
    .list-img {
      img {
        display: block;
        width: 5rem;
      }
      div {
        background-color: #121212;
        height: 100%;
        width: 5rem;
      }
    }
    .list-title {
      display: grid;
      align-content: center;
      height: 45px; // 박스 범위
      p {
        cursor: pointer;
        // 글자 숨기는 속성
        overflow: hidden;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .list-button {
      display: grid;
      @include normal-button;
    }
  }
}

#library {
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  justify-content: center;
  // gap: 10px;
  font-size: 1rem;
  overflow: auto;
  height: 100vh;

  ul {
    @include list-ul;
    // padding: 8px;
  }

  #user-playlist-items {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 1;
    background-color: #2a2a2e;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    header {
      position: relative;
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: 30px 1fr 30px;
      gap: 10px;
      margin: 0 8px 8px 8px;
      padding-left: 4px;
      margin-bottom: 10px;
      @include normal-button;
      @include ellipsis-button;
      div {
        display: grid;
        .x-button {
          text-align: start;
          svg {
            font-size: 1.5rem;
          }
        }
        .e-button {
          text-align: center;
          svg {
            font-size: 1.5rem;
          }
        }
      }
      .user-playlist-title {
        grid-column: span 3;
        font-size: 1.25rem;
      }
    }
    ul {
      @include list-ul;
      font-size: 1rem;
      margin-bottom: 120px;
      li {
        .list-button {
          @include ellipsis-button;
        }
      }
    }
  }
  #add-playlist {
    display: grid;
    grid-auto-flow: column;
    // grid-template-columns: 20vw 1fr;
    justify-content: center;
    align-content: center;
    gap: 10px;
    margin-top: 8px;
    margin-bottom: 120px;
    div {
      display: grid;
      align-content: center;
      height: 50px;
      input {
        background-color: #121212;
        padding: 10px;
        border: 0;
        color: whitesmoke;
        font-size: 1.2rem;
      }
      svg {
        cursor: pointer;
      }
    }
  }
}

.drop-down-menu {
  font-size: 1.2rem;
  color: whitesmoke;
  z-index: 20;
  display: block;
  background-color: #575757;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  right: 30px;
  top: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.12);
  p {
    font-size: 1.3rem;
  }
  div {
    cursor: pointer;
  }
  div:hover {
    color: #ffb347;
  }
  div:active {
    color: whitesmoke;
  }
}
