.player {
  position: relative;
}

.player-video {
  width: 100vw;
  height: 35vh; // todo: auto로 바꾼다
}

.big-window {
  position: relative;
  top: 10vh;
  height: 90vh;
  width: 100vw; // todo: 반응형으로 바꾼다

  display: grid;
  grid-auto-flow: row; 
  grid-template-rows: auto auto auto 1fr 10vh;
  gap: 10px;

  .rating-form {
    font-size: 2rem;
  }
  .music-title {
    font-size: 1.5rem;
  }
  .music-progress-bar {
    font-size: 1.5rem;
  }
  .music-nav-bar {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    div {
      button {
        font-size: 2rem;
      }
    }
  }
}

.small-window {
  position: absolute;
}

.hidden {
  display: none;
}