#player {
  @media (min-width: 500px) {
    .music-nav-bar {
      width: 500px !important;
    }
  }
  .music-nav-bar {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 8vh;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: whitesmoke;
    div {
      display: grid;
      button {
        font-size: 1.4rem;
        background-color: whitesmoke;
        border: white solid 0px;
      }
    }
  }

  .music-nav-bar-none {
    display: none;
  }
}
