@import './common/normal-button.scss';

#player {
  @media (min-width: 700px) {
    .music-nav-bar-big {
      width: 50vw !important;
    }
  }
  .music-nav-bar-big {
    // border-top: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #1c1c1f;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 56px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    div {
      display: grid;
      button {
        cursor: pointer;
        border: 0;
        background-color: #1c1c1f;
        svg {
          font-size: 1.8rem;
          color: #bebebf;
        }
      }
      button:hover {
        svg {
          color: whitesmoke;
        }
      }
      button:active {
        svg {
          color: #ffb347;
        }
      }
    }
  }

  .music-nav-bar-small {
    z-index: 2;
    position: fixed;
    bottom: 56px;
    left: 0;
    width: 100vw;
    height: 56.25px; // 세로 길이
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100px 1fr 1fr 1fr 56.25px 56.25px;
    background-color: #121212;
    div {
      display: grid;
      button {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0);
        border: 0;
        svg {
          font-size: 1.8rem;
          color: #bebebf;
        }
      }
      button:hover {
        svg {
          color: whitesmoke;
        }
      }
      button:active {
        svg {
          color: #ffb347;
        }
      }
    }
    .music-nav-bar-title {
      grid-column: span 3;
      align-self: center;
      font-size: 1.2rem;
      overflow: hidden;
      white-space: nowrap;
      // margin-left: 10px;
      cursor: pointer;
    }
  }
}
