#player {
  position: absolute;
  width: 100%;
  // height: 100%; // 수정해야 함
  display: flex; // 지우면 재생바가 사라짐
  justify-content: center; // 늘어나도 가운데 머무르게 함

  .player-small {
    @media (min-width: 600px) {
      .player-window {
        width: 300px !important;
      }
    }
    .player-window {
      z-index: 2;
      position: fixed;
      bottom: 48px;
      right: 0;
      width: 50vw; // 화면 크기

      .iframe-video {
        position: absolute; // iframe
        width: 100%;
        height: 100%;
      }
      .rating-form {
        display: none;
      }
      .music-title {
        display: none;
      }
      .music-progress-bar {
        display: none;
      }
      .music-queue {
        display: none;
      }
    }
    .player-window > div:first-child {
      position: relative; // iframe wrapper
      width: 100%;
      padding-bottom: 56.25%;
    }
  }

  .player-big {
    & {
      // 부모
      height: 100vh;
    }
    z-index: 3;
    background-color: whitesmoke;
    // height: 100%;
    @media (min-width: 500px) {
      .player-window {
        width: 500px !important;
      }
    }
    // position: absolute;
    .player-window {
      position: static;
      // top: 10vh;
      width: 100vw;

      display: grid;
      grid-auto-flow: row;
      grid-template-rows: auto auto auto auto 1fr;
      gap: 10px;
      margin-bottom: 8vh;

      .iframe-video {
        position: absolute; // iframe
        width: 100%;
        height: 100%;
      }
      .rating-form {
        font-size: 2rem;
        text-align: center;
      }
      .music-title {
        font-size: 1.5rem;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
      }
      .music-progress-bar {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        gap: 10px;
        margin-left: 10px;
        margin-right: 10px;
        .progress-bar {
          background-color: rgb(233, 233, 233);
          height: 5px;
          .progress-node {
            width: 0;
            height: 100%;
            background-color: black;
            margin-left: 0%; // 초기 노드 위치
          }
        }
        .play-time {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 1.2rem;
        }
      }
      .music-queue {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1.15rem;
        margin: 0;
        li {
          // border: solid 4px black;
          display: grid;
          gap: 10px;
          grid-auto-flow: column;
          grid-template-columns: 70px 1fr;

          margin-bottom: 10px;
          list-style: none;
          cursor: pointer;
          .queue-image {
            width: 70px;
            height: 70px;
            background-size: cover;
            background-position: center center;
          }
          .queue-title {
            display: grid;
            align-content: center;
            p {
              margin: 0;
            }
          }
          transition-property: transform;
          transition-duration: 300ms;
        }
        li:hover {
          transform: translateX(2%);
        }
      }
    }
    .player-window > div:first-child {
      position: relative; // iframe wrapper
      width: 100%;
      padding-bottom: 56.25%;
    }
  }

  .small-window {
    position: absolute;
  }

  .hidden {
    display: none !important;
  }
}
