@import './common/normal-button.scss';

#player {
  @media (min-width: 500px) {
    .music-nav-bar-big {
      width: 500px !important;
    }
  }
  .music-nav-bar-big {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 70px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: whitesmoke;
    div {
      display: grid;
      @include normal-button;
    }
  }

  .music-nav-bar-small {
    z-index: 2;
    position: fixed;
    bottom: 56px;
    left: 0;
    width: 100vw;
    height: 56.25px; // 세로 길이
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100px 1fr 1fr 1fr 56.25px 56.25px;
    background-color: whitesmoke;
    div {
      display: grid;
      @include normal-button;
      button {
        font-size: 1.2rem;
      }
    }
    .music-nav-bar-title {
      grid-column: span 3;
      align-self: center;
      font-size: 1.2rem;
      overflow: hidden;
      white-space: nowrap;
      margin-left: 10px;
    }
  }
}
