@import './common/normal-button.scss';

#player {
  position: fixed;
  top: 0;
  left: 0;
  display: grid; // 지우면 재생바가 사라짐
  grid-auto-flow: row;
  z-index: 100;
  // justify-content: center; // 늘어나도 가운데 머무르게 함

  .player-small {
    .player-window {
      z-index: 100;
      position: fixed;
      bottom: 56px;
      left: 0;
      width: 100px; // 화면 크기

      .iframe-video {
        position: absolute; // iframe
        width: 100%;
        height: 100%;
      }
      .rating-average {
        display: none;
      }
      .rating-form {
        display: none;
      }
      .music-title {
        display: none;
      }
      .music-progress-bar {
        display: none;
      }
      .music-queue {
        display: none;
      }
      header {
        display: none;
      }
    }
    section {
      div {
        position: relative; // iframe wrapper
        width: 100%;
        padding-bottom: 56.25%;
      }
    }
  }

  .player-big {
    overflow-y: auto; // 스크롤 바
    height: 100vh;
    z-index: 100;
    background-color: black;
    @media (min-width: 700px) {
      .player-window {
        width: 50vw !important;
      }
    }
    .player-window {
      position: static;
      width: 100vw;
      display: grid;
      grid-auto-flow: row;
      grid-template-rows: auto auto auto auto 1fr;
      // gap: 8px;
      margin-bottom: 8vh;
      overflow: visible;
      .rating-average {
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        gap: 8px;
        font-size: 1rem;
        color: whitesmoke;
      }
      .rating-form {
        font-size: 2rem;
        text-align: center;
      }
      .music-title {
        font-size: 1.4rem;
        text-align: center;
        margin-left: 16px;
        margin-right: 16px;
        cursor: pointer;
        // 글자 숨기는 기능
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .music-progress-bar {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        gap: 8px;
        margin: 8px 16px 8px 16px;
        .progress-bar {
          background-color: #5a5a5a;
          height: 5px;
          .progress-node {
            width: 0;
            height: 100%;
            background-color: #ffb347;
            margin-left: 0%; // 초기 노드 위치
          }
        }
        .play-time {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 1.2rem;
        }
      }
      .music-queue {
        padding-left: 16px;
        padding-right: 16px;
        font-size: 1.15rem;
        margin: 0;
        overflow: visible;
        li {
          // border: solid 4px black;
          position: relative;
          display: grid;
          gap: 10px;
          grid-auto-flow: column;
          grid-template-columns: 70px 1fr 30px;
          height: 70px;

          margin-bottom: 10px;
          list-style: none;
          cursor: pointer;
          .queue-image {
            height: 100%;
            background-size: cover;
            background-position: center center;
          }
          .queue-title {
            display: grid;
            p {
              align-self: center;
              margin: 0;
              // 글자 숨기는 속성
              overflow: hidden;
              white-space: normal;
              line-height: 1.2;
              text-align: left;
              word-wrap: break-word;
              display: -webkit-box;
              -webkit-line-clamp: 3; // 2번째 줄 끝을 ...으로 만든다.
              -webkit-box-orient: vertical;
            }
          }
          .queue-title {
            transition-property: transform;
            transition-duration: 300ms;
          }
          .queue-title:hover {
            transform: translateX(2%);
          }
          .queue-ellipsis {
            display: grid;
            // position: relative;
            @include normal-button;
            @include ellipsis-button;
            // div {
            //   position: absolute;
            //   width: 50px;
            //   height: 100px;
            // }
          }
        }
      }
      header {
        background-color: black;
        padding: 0 16px 0 16px;
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        div {
          cursor: pointer;
          svg {
            font-size: 1.8rem;
          }
        }
      }
      @media (min-width: 700px) {
        section {
          height: 40vw !important;
        }
      }
      section {
        height: 80vw; // 1:1 비율을 위한 속성들
        display: grid;
        align-items: center;
        background-color: black;
        div {
          position: relative; // iframe wrapper
          width: 100%;
          padding-bottom: 56.25%;
          .iframe-video {
            position: absolute; // iframe
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .small-window {
    position: absolute;
  }

  .hidden {
    display: none !important;
  }
}
