@media (min-width: 700px) {
  .player-brother-nav-big {
    width: 50vw !important;
    position: fixed !important;
    right: 0 !important;
    bottom: 0 !important;
    left: unset !important;
    top: unset !important;
  }
}
