#profile {
  header {
    text-align: left;
    display: grid;
    p {
      font-size: 2rem;
    }
  }
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  gap: 10px;
  margin: 10px;
  .profile-alphabet {
    display: grid;
    align-items: center;
    p {
      font-size: 4rem;
    }
  }
  .profile-input {
    font-size: 0.75rem;
    border-radius: 7px;
    padding: 8px;
    margin-right: 8px;
  }
  .profile-button {
    border: 0;
    background-color: #64b5f6;
    padding: 8px;
    border-radius: 7px;
    font-size: 0.75rem;
  }
  .profile-email {
    font-size: 1rem;
  }
}
