.consent {
  padding: 0 0.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100vh;
  &_header {
    margin-top: 80px;
    > p {
      margin: 1.5rem 0;
    }
  }
  &_buttons {
    margin-bottom: 34px;
    a {
      margin: 0.5rem 0;
    }
  }
}

.card {
  width: 100%;
  min-width: 360px;
  overflow: visible !important;
  background: inherit;
  &_media {
    width: 100%;
    padding-top: 75%; // 4:3 ratio
    // padding-top: 56.25%; // 16:9 ratio
    background: #000;
    position: relative;
    display: flex;
    align-items: center;
    &_iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: auto;
      @include flexbox-centering;
    }
  }
  &_content {
    padding: 1rem;
    text-align: center; // center inline elements
    &_title {
      > h3 {
        font-size: 1.25rem; // 20px
        font-weight: 700;
        line-height: 1.3;
        @include text-ellipsis();
      }
    }
    &_inputs {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-content: center;
      padding: 1rem 0;
      &_label {
        margin-bottom: 1rem;
        > h4 {
          font-size: 1rem;
        }
      }
      &_inputs {
        padding: 0.5rem 0;
      }
    }
    &_buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 1rem 0;
      margin-bottom: 1rem;
      overflow: visible; // prevent shadow crop
    }
  }
}
