.rating {
  &_consent {
    padding: 16px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100vh;
    header,
    div {
      padding: 8px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
    }
    div {
      // height: 192px;
      overflow: visible;
    }
  }
}

.card {
  width: 100%;
  min-width: 360px;
  overflow: visible !important;
  // overflow-x: visible !important;
  // overflow-y: visible !important;
  &_media {
    width: 100%;
    height: 50vh;
    background: #000;
    // height: 38.2vh; // golden ratio
  }
  &_content {
    padding: 1rem;
    text-align: center; // center inline elements
    &_inputs {
      display: flex;
      justify-content: center;
      align-content: center;
      margin: 2rem 0;
    }
    &_buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%; // 나중에 수정 (side padding: 24px)
      height: 96px;
      margin: 0 auto; // 나중에 수정
      overflow: visible; // prevent shadow crop
    }
  }
}
