#recommends {
  ul {
    padding: 10px;
    font-size: 1.15rem;
    margin-bottom: 120px;
    overflow: visible;
    li {
      position: relative;
      overflow: visible;
      // border: solid 4px black;
      display: grid;
      gap: 10px;
      grid-auto-flow: column;
      grid-template-columns: auto 1fr 30px;
      margin-bottom: 10px;
      list-style: none;
      cursor: pointer;
      div {
        display: grid;
      }
      .recommends-image {
        img {
          display: block;
          // border-radius: 5px;
          width: 5rem;
        }
      }
      .recommends-title {
        margin: 0;
        align-self: center;
      }
      button {
        cursor: pointer;
        font-size: 1.4rem;
        background-color: rgba(0, 0, 0, 0);
        border: white solid 0px;
        svg {
          transition-property: color;
          transition-duration: 200ms;
        }
      }
      button:hover {
        svg {
          color: black;
        }
      }
      button:active {
        svg {
          color: rgb(236, 236, 236);
        }
      }
      .recommends-drop-down-menu {
        z-index: 4;
        display: block;
        background-color: whitesmoke;
        padding: 10px;
        border-radius: 10px;
        position: absolute;
        right: 30px;
        top: 0;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.12);
      }
    }
  }
}
