// @import './common/normal-button.scss';

// #recommends {
//   .recommend-list {
//     display: grid;
//     grid-auto-flow: column;
//     overflow: auto;
//     gap: 20px;
//     grid-column: span 2;
//     grid-auto-columns: 300px;
//   }
//   .recommends-title {
//     display: grid;
//     color: #ffb347;
//     font-size: 1.5rem;
//   }

//   .recommends-button {
//     display: grid;
//     justify-content: end;
//     cursor: pointer;
//   }
//   .ranks {
//     display: grid;
//     grid-auto-flow: row;
//     overflow: auto;
//     border: 2px solid;
//     max-height: 500px;
//     gap: 20px;

//     .ranks-title {
//       display: grid;
//     }

//     .ranks-list {
//       display: grid;
//     }
//   }
//   .content {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//   }

//   display: grid;
//   grid-auto-flow: row;
//   grid-template-columns: 1fr 1fr;
//   gap: 20px;
// }

// .recommends-rank-title {
//   color: lightpink;
//   cursor: pointer;
// }
// .recommends-music-image {
//   img {
//     width: 100%;
//   }
//   cursor: pointer;
// }

// .recommends-rank-img {
//   width: 30px;
// }
// .recommends-music-title {
//   cursor: pointer;
// }
// .recommends-music-image:hover {
//   box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 30px 30px rgba(0, 0, 0, 0.22);
// }
