@mixin normal-button {
  button {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    svg {
      font-size: 1.8rem;
      color: whitesmoke;
      transition-property: color;
      transition-duration: 200ms;
    }
  }
  button:hover {
    svg {
      color: black;
    }
  }
  button:active {
    svg {
      color: whitesmoke;
    }
  }
}
